.pagecenter { text-align: center; }     
.round-foto { width: 150px; heigth: 150px; border-radius: 50%; }       
.round-icon { width: 30px; heigth: 30px; }   
.color1 { background-color: #C5C4C4; }      
.color2 { background-color: #E3E3E3; }  
.table-top {vertical-align: top; }     
.table-down {vertical-align: bottom; }
